doctype html
html
  head
    meta(charset="utf-8")
    title Купить 20Flex недорого. Цены, отзывы. Закажите 20Flex сейчас!
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:700|Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
    link(href="img/favicon.ico" rel="icon")
    link(rel='stylesheet' href='css/app.css')
  body
    include ../common/a_header.html 
    include ../common/b_joint-regeneration.html 
    include ../common/c_demonstration.html
    include ../common/d_wrong-treatment.html
    include ../common/e_returns-youth.html
    include ../common/f_reinforced-regeneration.html
    include ../common/g_second-youth.html
    include ../common/h_highly-effective.html
    include ../common/i_composition.html
    include ../common/j_doctor.html
    include ../common/k_research.html
    include ../common/l_reviews.html
    include ../common/m_use.html
    include ../common/n_delivery.html
    include ../common/o_section-last.html 
    include ../common/p_footer.html
    include ../common/q_popup.html
    script(src='js/jquery-3.3.1.min.js')
    script(src='js/slick.min.js')
    script(src='js/everad.js')
    script(src='js/app.js')